@font-face {
  font-family:  "HK Grotesk";
  src: url(hk-grotesk.woff2), url(hk-grotesk.woff);
}

body {
	font-family: "HK Grotesk", Arial;
	font-size: 36px;
	line-height: 1.25;
	
	background-color: #ffffff;
	color: #333333;
	
	
}
body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

header {
	position: fixed;
	top: 36px;
	left: 36px;
	z-index: 1;
	transition: color .5s;
	


  
}




section {
	background-color: #c8dee0;
	min-height: 100vh;
	padding: 80px;

	display: flex;
	align-items: center;
	justify-content: center;
}

div.content{
	position: relative;
	

}

div.square{
	width: 100px;
	height: 100px;
	background-color: #d54146;

	position: absolute;
	top: 50px;
	left: -50px;
}
div.circle{
	width: 100px;
	height: 100px;
	background-color: #5982a0;

	position: absolute;
	bottom: 50px;
	right: -50px;
	border-radius: 50%;

}
section.s2{
	background-color: #c5c5c5;
}

section.s2 div.square{
	background-color: #d6ac35;
}

section.s2 div.circle{
	background-color: #be3c52;
}

div.content img{
	position: relative;
	
	
}

section.s3{
	background-color: #292121;
}


section.s3 div.square{
	background-color: #f53736;
}

section.s3 div.circle{
	background-color: #6e5f67;
}

section.s4{
	background-color: #f3f1f2;
}

section.s4 div.square{
	background-color: #d54156;
}
section.s4 div.circle{
	background-color: #5982a0;
}

div.progress{
	position: fixed;
	/* top: 0px; */
	/* left: 0px; */
	width: 0;
	height: 10px;
	background-color: #333333;
	z-index: 1;
	transition: background-color 0.5s ;

}

header.white{
	color: white;
}

div.progress.white{
	background-color: white;
}

@media screen and (max-width: 1038px) {



	header h1 {
	 font-size: 3.5rem
	}

	.content img{
		
	
		height: 30rem;
		width: 16rem;
		
		object-fit: cover;
	}


	.s2 img{
		height: 30rem;	
	}


	.s4 img{
		height: 30rem;
	}
	div.square{
		width: 70px;
		height: 70px;
	
	}

	div.circle{
		width: 70px;
		height: 70px;
	}
  }

  @media screen and (max-width: 883px) {

	

	header h1 {
	 font-size: 2.5rem
	}
  }

  @media screen and (max-width: 693px) {



	header h1 {
	 font-size: 1.4rem
	}
  }

  @media screen and (max-width: 586px) {

	section{
		max-height: 90vh;
		min-height: 90vh;
	}

	header{
		margin-top: 4rem;
	}
	


	header h1 {
	 font-size: 1rem
	}

	.client{
		font-size: 1rem;
	}

	.page {
		font-size: 1rem;
	}

	.pixels{
		font-size: 1rem;
	}
  }