*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html {
    font-size: 62.5%;
    box-sizing: inherit;
}

body{

        background:linear-gradient(179deg, rgba(255, 250, 243, 1) 31%, rgba(255, 255, 255, 1) 52%);

}

a{
    text-decoration: none;
}

li {
    list-style: none;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    /* flex-wrap: wrap; */
    background-color: #fdf9f1;
}

.nav-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background-color: red; */
    /* outline: 3px solid yellow; */
    
}

.nav-left h3 {
    color: #071f3f;
    font-size: 4rem;
    padding: 0 1rem;
  

    
}

.nav-left img{
    width: 4.5rem;
}

.nav-left ul{
    display: flex;
    /* outline: 3px solid green; */
    padding: 0 5.5rem;
    width: 100%;
  
}

.nav-left ul li {
    margin-right: 3.5rem;
    
}

.nav-left ul li a{
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

.nav-right{
    display: flex;
   
}

.nav-right > div{
    margin: 0 .9rem;
    
}

.login-div{
    position : relative;
    
}
.nav-right .login{
  
    background-color: transparent;
    color: #071f3f;
    border: 1px solid #071f3f;
    padding: 1.5rem 2.7rem;
    border-radius: 1.2rem;
    font-size: 1.6em;
    font-weight: bolder;
    outline: none;
    transition: all .3s ease;
}

.nav-right .login:hover{
    background-color: aliceblue;
}

.nav-right .sign-up{
    background-color: #313178;
    color: #fff;
    padding: 1.6rem 3.1rem;
    font-size: 1.6rem;
    font-weight: bolder;
    border-radius: 1.2rem;
    outline: none;
    border: none;

}

.nav-right .sign-up:hover{
    background-color:#122032;
}

.nav-mobile{
    display: none;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
}

.nav-mobile:hover{
    transform: scale(1.1);
    cursor: pointer;
}


.landing-page{
    display: flex;
    justify-content: center;
    padding-top: 6rem; 
    align-items: center;
    padding-bottom: 10rem;
    overflow: hidden;
    

}





.landing-page-left{
    z-index: 20;
    margin-right: 10rem;
    margin-bottom: 5rem;
    animation: landingPageLeft 1s ease-in;
    
    

    
  

}


@keyframes landingPageLeft {
    from {
        transform: translateX(-300px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
    
}





.landing-page-left h1{
    font-size: 6.5rem;

}

.landing-page-left p{
    font-size: 2.8rem;
    font-weight: ligher;
    
}

.landing-page-left span{
    display: block;
    
}

.landing-page-right{
   
    width: 57rem;
    margin-right: 1rem;
    animation: landingPageRight 1s ease-in;

  
}

@keyframes landingPageRight {
    from {
        transform: translateX(300px);
        opacity: 0;

    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
    
}





.landing-page-right img{
/* width: 57rem;
height: auto; */
max-width: 100%;
height: auto;

transition: filter .4s ease-in-out;

}

.landing-page-right img:hover{
    filter: sepia(20%);
}


.landing-page-right::after{
    content : '';
    position: absolute;
    background-image : url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1302.09 300.97'%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath fill='%2300be9e' d='M358.42 207.26a318 318 0 0 1-58.86-5.65c-25.34-4.76-50.59-14.51-77.32-24.84-57.4-22.18-122.46-47.32-221.6-39.83l-.14-1.88c99.56-7.52 164.83 17.7 222.42 39.95 26.65 10.29 51.82 20 77 24.74 43.44 8.15 84.34 7.45 125-2.16 37.39-8.82 75.27-25.06 119.21-51.09 58.24-34.5 112.28-56.45 165.23-67.11 61.78-12.45 122.33-9.86 185.1 7.9 117.39 33.23 166.75 26.63 244.25 4.92 53.55-15 101.56-49.65 133.33-72.57 12.49-9 22.35-16.12 29.19-19.64l.86 1.68c-6.71 3.46-16.52 10.53-28.94 19.49-31.88 23-80.06 57.76-133.93 72.86-77.85 21.81-127.42 28.43-245.28-4.92-62.47-17.68-122.73-20.26-184.21-7.87-52.73 10.62-106.58 32.5-164.62 66.89-44.11 26.13-82.11 42.43-119.73 51.3a290 290 0 0 1-66.96 7.83z'/%3E%3Cpath fill='%23ffbac8' d='M1221.94 157.46l-2.39-4.84c25-12.31 46.16-27.13 63.56-40l3.2 4.34c-17.59 13.04-39 28.04-64.37 40.5z'/%3E%3Cpath fill='%23fc5f5b' d='M1055.51 200.92c-28.28 0-60.48-3.74-102.55-12.57l3.1-14.78c101.43 21.29 143.67 12 215.57-7.75l4 14.57c-44.44 12.2-77.91 20.53-120.12 20.53z'/%3E%3Ccircle fill='%234c50a7' cx='323.97' cy='291.39' r='9.58'/%3E%3Ccircle fill='%23ffbac8' cx='673.5' cy='204.84' r='9.58'/%3E%3Ccircle fill='%23ff8a70' cx='885.71' cy='161.82' r='7.86'/%3E%3Cpath fill='%23ff8a70' d='M92.13 268.78l19-18.12a.28.28 0 0 0 0-.42l-18.19-15.5a.28.28 0 0 0-.46.2l-.76 33.63a.28.28 0 0 0 .41.21zM145.14 265.13l20-17a.29.29 0 0 0 0-.42l-17.24-16.55a.28.28 0 0 0-.48.18l-2.75 33.52a.28.28 0 0 0 .47.27zM195.5 271.16l23.11-12.39a.28.28 0 0 0 .1-.4l-13.38-19.81a.28.28 0 0 0-.5.08l-9.73 32.19a.28.28 0 0 0 .4.33zM248.4 286l24.51-9.3a.29.29 0 0 0 .16-.39l-10.71-21.41a.29.29 0 0 0-.51 0L248 285.58a.28.28 0 0 0 .4.42z'/%3E%3Cpath fill='%23ffc400' d='M840.73 177.41l-19.14-14.83 18.77-19.71.83 34.31a.29.29 0 0 1-.46.23z'/%3E%3Cpath fill='%23303178' d='M767.68 170.85a17.76 17.76 0 0 1-35.25 4.31z'/%3E%3Cpath fill='%23122033' d='M380.33 299.37c-5.59 0-11.25-.07-17-.21l.37-15.11c104.17 2.57 176.09-18.45 240.52-70.26l9.46 11.77c-63.87 51.34-134.38 73.81-233.35 73.81z'/%3E%3Cpath fill='%2300be9e' d='M298.34 208.1c-25.94-4.86-51.46-14.73-78.48-25.17C163.11 161 98.79 136.15 1.14 143.53L0 128.47c101.05-7.64 167.06 17.87 225.3 40.37 26.36 10.19 51.25 19.81 75.82 24.42z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
   
    left:0%;
    /* top: 60%; */
  z-index: -20;
  animation: landingPageAfter 1.5s ease-in;
     animation-delay: .1s;
     animation-fill-mode: forwards;
     

}


@keyframes landingPageAfter {
    0% {
        opacity: 0;
        /* transform: translateY(-300px); */
     

    }
    30%{
        /* opacity: .2; */
    }
    50%{
        opacity: .5;
        transform: translateY(-150px);
      
 

    }
  
    100%{
        top : 60%;
        height: 300px;
        width: 100vw;
        opacity: 1;
        transform: translateY(0px);
      
        
        
      
    }
    
}



.pay-bill {
    padding-top: 6rem;
    background-color: #ffffff;
    display: flex;
    justify-content:center;
    align-items: center;
    /* width: 80%; */
    /* margin: auto; */
   

   
}


.left-pay-bill {
    /* outline: 2px solid green; */
}
.left-pay-bill img {
    height: auto;
    max-width: 450px;
    
}

.right-pay-bill{
    /* outline: 2px solid red; */
    padding-bottom: 5rem;
}
.right-pay-bill-content{
    width: 80%;
    margin: auto;
}
.right-pay-bill-content h1{
    font-size: 4rem;
}

.right-pay-bill-content h1 span{
    display: block;
}

.right-pay-bill-content p {
    font-size: 2rem;
    margin-top: 1rem;
}

.right-pay-bill-content button {
    background-color: #313178;
    color: #fff;
    padding: 1.8rem 2.8rem;
    font-size: 1.6rem;
    font-weight: bolder;
    border-radius: .5rem;
    outline: none;
    border: none;
    margin-top: 2rem;
}





.people-first{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    background-color: white;
    
   
  

}


.people-first-heading{

    font-size: 4rem;
    width: 55%;
    margin: auto;
    text-align: center;


 
}

.people-first-heading-container p{
    font-size: 2.2rem;
    width: 75%;
    margin: auto;
    text-align: center;
    margin-top: 2rem;

}

.people-first-cards{
   
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;
    


}

.people-first-cards .card{
    background-color: #fdf9f1;
    margin: 4rem;
    padding: 3rem 4rem;
    width: 100%;
    min-width: 310px;
    
 

   
}

.people-first-cards .card p {
    font-size: 2rem;
}

.people-first-cards .card strong{
    font-size: 1.7rem;
    display: inline-block;
    padding-top: 2rem;
}



.card svg{
   height : 1.5rem;
   width: 1.5em;
   fill: #4d509d;
   margin-bottom: 2rem;
}



.why-pay{
  
    background-color: white;
    padding-top: 8rem;
    padding-bottom: 6rem;
}

.why-pay > h1{
    font-size: 6rem;
    text-align: center;
}

.why-pay > p {
    font-size: 2.5rem;

    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    
}


.why-pay-grid-div img{
    width: 120px;
}


.why-pay-grid{
    display: flex;
    margin-top: 8rem;
    width: 75%;
    margin-left:  auto;
    margin-right:  auto;

}

.why-pay-grid-div {
    margin: 4rem;
}

.why-pay-grid-div h2{
    font-size: 3rem;
    margin-top: .5rem;
}

.why-pay-grid-div p{
    font-size: 2rem;
    margin-top: 2rem;

    /* width: 95%; */
   
    
}

.made-easy {

    text-align: center;
    background-color: #4c50a2;
    color: #fff;
    padding-top: 5rem;
}

.made-easy h1{
    font-size: 4rem;

}

.made-easy p {
    font-size: 2rem;
    margin-top: .9rem;
}


.made-easy .button-div{
    margin-top: 3.9rem;


}
.made-easy button{
    background-color: #fdf9f1;
    color: #313178;
    padding: 1.5rem 2.5rem;
    font-size: 2rem;
    border-radius: 10px;
    border: 0;
    outline: none;
 
    
}

.image-div{
    /* display: none; */
    width: 80%;
    margin: auto;
}

.image-div .mobile{
    display: none;
}


.made-easy img{

    margin-top: 6rem;
    height: inherit;
    width: inherit;
    min-width: 900px;
    margin-bottom: -.2rem;
  
}

.medical-provider{
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.medical-provider-left-div  { 

margin-bottom: 12rem;


}
.medical-prodiver-left-div-wrapper{
   
    width: 70%;
    margin-left: auto;


}


.medical-provider-left-div h4{
   color: #313178;
   font-size: 2rem;
}

.medical-provider-left-div span{
    display: block;
}

.medical-provider-left-div h1{
    font-size: 4.5rem;
    margin-top: 1.2rem;
}

.medical-provider-left-div p {
    font-size: 2rem;
    width: 50%;
    min-width:300px;
    margin-top: 2rem;
}

.medical-provider-left-div  button{
    background-color: #313178;
    color: #fff;
    padding: 1.8rem 2.8rem;
    font-size: 1.6rem;
    font-weight: bolder;
    border-radius: .5rem;
    outline: none;
    border: none;
    margin-top: 4rem;
}

.medical-provider-right-div{
   

}

.medical-provider-img-container{
 width: 80%;
 margin: auto;
}

.medical-provider-right-div img{
    width: inherit;
    height: inherit;

   
    height: inherit;
    width: inherit;
    /* min-width: 900px; */
    min-width: 450px;

}


.footer-links-section {
    background-color: #f8fafc;
    padding-top: 5rem;
}

/* .footer-links-logo {
    display: flex-in;
    width: 53%;
    margin: auto;
   
    outline: 2px solid red;


    

}

.footer-links-logo div{
    display: flex;
}
.footer-links-logo div > h3 {
    color: #071f3f;
    font-size: 4rem;
    padding: 0 1rem;
  
} */

.footer-links-logo  img{
    width: 4.5rem;
}



.footers-links{
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    width: 80%;
    margin: auto;
   
}

.footers-links > .links{
    margin: 0 2rem;
   
}

.link-1 img{
    width: 180px;
    margin-top: 1.2rem;
    margin-left: -1rem;
}

.link-1 p{
    font-size: 1.7rem;
    width: 80%;
    margin-top: 2rem;
}

.link-1 a{
    display: flex;
    color: #071f3f;
    font-size: 2rem;

}


.link-4 p {
    font-size: 2rem;
    margin: 1.5rem 0;

}

.link-4 span{
    display: block;
}

.links ul li{
    font-size: 2rem;
    margin: 2rem 0;
}


.links > h3{
    font-size: 2.4rem;
    color: #122032;
}



@media screen and (max-width: 1200px) {

    .nav-right{
        display: none;
    }

    .nav-left ul{
        display: none;
    }

    .nav-mobile{
        display: block;
    }



     .landing-page-left{
    z-index: 20;
    margin-right: 2rem;
    margin-bottom: 3rem;

 
} 



 .landing-page-right{
   
    width: 46rem;
    margin-right: 1rem;
  
} 
.why-pay-grid {
    width: 85%;
    margin: auto;
}
.why-pay-grid  p{
    font-size: 1.8rem;
}

.people-first-cards{
    width: 100%;
    
}

.people-first-cards .card{
    min-width: 200px;
    padding: 1.5rem 2rem;
    
}

.people-first-cards .card p {
    font-size: 1.8rem;
}

.people-first-cards .card strong{
    font-size: 1;
   
}



   
}

@media screen and (max-width : 1022px) {
.landing-page-left h1{
    font-size: 4.5rem;

} 


 .landing-page-left p{
    font-size: 2.3rem;
    font-weight: ligher;
    
} 

.landing-page-right{
   
    width: 40rem;
    margin-right: 1rem;
  
} 

.why-pay-grid {
    width: 90%;
    margin: auto;
}
.why-pay-grid  p{
    font-size: 1.7rem;
}

.people-first-heading{
    font-size: 5rem;
}
.people-first-heading-container p{
    font-size: 1.9rem;
}

.people-first-cards{
    /* width: 100%; */
    flex-wrap: wrap;
  

    
}

.people-first-cards .card{
    min-width: 120px;
 
    
}

.image-div{
    width: 100%;
    overflow: hidden;
    
    
}

.medical-provider{
    flex-direction: column;
}

.medical-prodiver-left-div-wrapper{
    width: 100%;
}
.medical-provider-right-div{
   
    text-align: center;
}
.medical-provider-img-container{
    /* width: 100%; */
}

.medical-provider-right-div img{

    min-width: 400px;

}
.medical-provider-left-div span{
    display: inline;
    align-items: flex-start;
    justify-content: flex-start;
}

.medical-provider-left-div  { 

    margin-bottom: 3rem;
    text-align: center;
    
    
    }

    .medical-provider-left-div p {
        font-size: 2rem;
        width: 50%;
        min-width:300px;
        margin-top: 2rem;
        margin: auto;
        padding-top: 1rem;
    }



    
}

@media screen and (max-width : 874px) {

    
.landing-page{
 
    flex-wrap: wrap;

}

.landing-page-right::after{
    height: 100px;
    top : 90%;
}



.landing-page-right{
     min-width: 350px;
    width: 75%;
    padding-top: 1rem;
  
  
}

.landing-page-left {
    width: 90%;
    margin: auto;
}
.landing-page-left span{
    display: inline;
    
}

.people-first-heading{
    font-size: 3.3rem;
    width: 100%;
    
}

.pay-bill{
    flex-wrap: wrap;
    padding-top: 0rem;

}

.right-pay-bill-content{
    width: 100%;
    margin-right: 1rem;
    margin-left: 1rem;
   
}
.right-pay-bill-content h1{
    font-size: 3.5rem;
}
.right-pay-bill-content p {
    font-size: 1.9rem;
    padding-bottom: 2rem;
}

.right-pay-bill-content span {
    display: inline;

}

.why-pay-grid{
    flex-direction: column;
    text-align: center;

}


.why-pay > h1{
    font-size: 4.4rem;
}

.why-pay > p {
    font-size: 2.5rem;
    width: 94%;
}



.medical-provider-left-div span{
    display: inline;
}


.link-4 {

    display: none;
}
}

@media screen and (max-width : 468px) {

    .image-div .big-screen {
        display: none;
    
    }
    
    .image-div .mobile{
        display: inline;
    }
    
    .made-easy img{
        min-width: 480px;
    }

    .footers-links{
        flex-wrap: wrap;
    }

    .link-1{
       padding-bottom: 2rem;
    }
    

}

@media screen and (max-width : 413px) {

    .nav-left img{
        width: 3.5rem;
    }

    .nav-left h3 {
    
        font-size: 3rem;
  
    }

   

    .medical-provider-right-div img{
      
        min-width: 100%;
    
    }
    .footer-links-section {
       
        padding-top: 0rem;
    }

    .footers-links{
       
        width: 100%;
        margin: auto;
       
       
    }

    .link-1{
        text-align: center;
        
    }

    .link-1 a{
        display: none;
    }

  

}